{% extends 'base/main.html' %}

{% block content %}
<h2>Desarrollo de BackEnd</h2>

<p>Actualmente estoy siguiendo el libro Django for Beginners: 
Build websites with Python and Django escrito por William S. Vincent.

El libro es bastante didáctico y es fácil de comprender. 
En la siguiente sección voy a elaborar un listado de comandos e ideas que permiten elaborar un proyecto básico.
</p>

<section>
    <ol>
        <li>Instalar django</li>
        <li>Iniciar proyecto</li>
        <li>Iniciar una apliación</li>
        <li>Establecer relación entre views, url y template</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</section>
{% endblock content %}