<footer class="bg-light text-center text-white">
    <!-- Grid container -->
  <div id="foot1">
        <section id="foot3">
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/joao-guzman-gutierrez/" role="button"><i class="fab fa-linkedin-in"></i></a>
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Joaoguzman" role="button"><i class="fab fa-github"></i></a>
        </section>
    </div>
    <div id="foot2">
    <p> © 2021 Developed by Joao Guzmán - We are standing on the shoulder of giants </p> <br>
      <a class="text-dark" href="https://brittanychiang.com/"> <p> Colour inspiration in Brittany Chieng's Website </p> </a>
    </div>
</footer>