{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<h2>Sitio Web de Joao Guzmán</h2>

<h3>An Spatial Oddity</h3>

<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <div class="fakeimg"><img id="profile_photo" src={% static 'img/foto_perfil.jpeg' %}></div>
        <h2>Objetivo de este sitio</h2>
        <p>El objetivo de este sitio..</p>
        
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>Reseña</h2>
        <h5>Trayectoria y prospectiva</h5>
        <p>Soy bla bla bla.</p>
        <br>
        <h2>Intereses</h2>
        <h5>Transformación digital y ciencia de datos</h5>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
  </div>
  
  
{% endblock content %}